/* Custom styles outside of sUI */
.bg {
  background: #092349;
  background: -webkit-linear-gradient(0deg, #092349, #021d44);
  background: -o-linear-gradient(0deg, #092349, #021d44);
  background: linear-gradient(0deg, #092349, #021d44);
  color: #fff;
}

.hero {
  	background-position: center;
  	background-repeat: no-repeat;
    background-color: #282c34;
  	height: 600px;
    color: #fff
}

.text {
  max-width: 540px!important
}

.text-for-row {
  max-width: 900px!important
}

.logo {
  animation: 3.3s ease 1s infinite both logo-spin;
  -webkit-animation: 3.3s ease 1s infinite both logo-spin
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg) scale(1)
  }
  35% {
    transform: rotate(180deg) scale(1.2)
  }
  70%, 100% {
    transform: rotate(360deg) scale(1)
  }
}
