/* Custom styles outside of sUI */
.bg {
  background: #092349;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#09244c), color-stop(100%,#021d44));
  background: -webkit-linear-gradient(0deg, #09244c, #021d44);
  background: -moz-linear-gradient(0deg, #09244c, #021d44);
  background: -o-linear-gradient(0deg, #09244c, #021d44);
  background: linear-gradient(0deg, #09244c, #021d44)
}


.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(img/hero-pc.svg);
  height: 450px
}
.hero-nested {
  padding-top: 220px
}
.hero-phone {
  max-height: 130px;
  max-width: 110px;
  display: inline-block
}
@media (min-width: 768px) {
  .hero-phone {
    margin-right: 220px
  }
}
.hero-tablet {
  max-height: 200px;
  max-width: 180px;
  display: inline-block
}
.hero-margin-n {
  margin-top: -75px
}


.anim-project-info {
  opacity: 0;
  animation: .5s ease both anim-project;
  -webkit-animation: .5s ease both anim-project;
  -moz-animation: .5s ease both anim-project
}
@keyframes anim-project {
  from {
      transform: translate3d(0,20px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
@-webkit-keyframes anim-project {
  from {
      transform: translate3d(0,20px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
.hover-bg-small, .hover-bg-large {
  opacity: 0;

  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -ms-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out
}
.project-small:hover .hover-bg-small, .project-large:hover .hover-bg-large {
  opacity: .75
}


.text {
  max-width: 540px!important
}
.text-for-row {
  max-width: 900px!important
}


.logo {
  animation: 3.5s ease 1.6s infinite both logo-spin;
  -webkit-animation: 3.5s ease 1.6s infinite both logo-spin;
  -moz-animation: 3.5s ease 1.6s infinite both logo-spin
}
@keyframes logo-spin {
  0% {
    transform: rotate(0deg) scale(1)
  }
  35% {
    transform: rotate(180deg) scale(1.2)
  }
  70%, 100% {
    transform: rotate(360deg) scale(1)
  }
}
@-webkit-keyframes logo-spin {
  0% {
    transform: rotate(0deg) scale(1)
  }
  35% {
    transform: rotate(180deg) scale(1.2)
  }
  70%, 100% {
    transform: rotate(360deg) scale(1)
  }
}


.project-small, .hover-bg-small {
  height: 280px
}
.project-large, .hover-bg-large {
  height: 580px
}
.KvizBoks {
  background: url('./img/kvizboks.png');
}
.grostedet9 {
  background: url('./img/grostedet9.png');
}
.bengtsen-velvaere {
  background: url('./img/bengtsen-velvaere.png');
}
.portfolio {
  background: url('./img/portfolio.png');
}
.KvizBoks, .grostedet9, .bengtsen-velvaere, .portfolio {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat
}
